@model System.Generic.Collections.List<TimebanksNZ.DAL.Entities.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnapprovedUsers</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
